<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>

<body>
    @RenderBody()

<p>
    @Html.ActionLink("Tree Menu", "Index") | @Html.ActionLink("No Root Node", "NoRootNode") | @Html.ActionLink("JSON WebService", "WebService")
</p>

</body>
</html>
