@model CoffeeShop.ViewModels.HomeViewModels

    <h2>@Model.HomeTitle</h2>

    @foreach (var coffee in Model.Coffees)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@coffee.ImageThumbnailUrl" alt="">
                <div class="caption">
                    <h3 class="pull-right">@coffee.Price.ToString("c")</h3>
                    <h3>
                        @coffee.Name
                    </h3>
                    <p>@coffee.ShortDescription</p>
                </div>
            </div>
        </div>
    }

